{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block login_nav %}
    <div>
        <a href="{{ url_for('register') }}">Sing up</a>
    </div>
{% endblock %}

{% block content %}
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <p>
                {{ form.email.label }}
                {{ form.email(size=40) }}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password(size=32) }}
            </p>

            <ul>
                {%  for error in form.password.errors %}
                <li style="color: red">{{ error }}</li>
                {% endfor %}
            </ul>
            <input type="submit" name="Sign in">

        </form>
{% endblock %}